<p>{{spotifyService.getUser.email}}</p>

<div class="input-container">
  <input #searchTerm
    placeholder="Artist Name"
    type="text"
    spellcheck="false"
    (keyup)="search(searchTerm.value)">
  <button *ngIf="searchTerm.value!=''"
    (click)="cleanList(searchTerm)">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div *ngIf="artists.length > 0 "
  class="results">
  <ul>
    <div *ngFor="let artist of artists"
      (click)="navigateToArtist(artist.id)">
      <img src="{{artist.images|noimage}}"
        alt="">
      <li style="color: white;">
        {{artist.name}}
      </li>
    </div>
  </ul>
</div>